* {
  background-color: rgb(175, 30, 30);
  outline: 1px dashed blanchedalmond; 
  color: wheat;
}


@media screen and (min-width: 961px) and (max-width: 1880px) {
 
  #main {
    background-color: white;
  }
}



.container {
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 5em;
  /* grid-row-gap: 5em; */
}

#about {
  grid-column-start: 4;
  grid-column-end:  12
}


footer {
  background-color: white;
  width: 100%;
  outline: 5px solid black;
}
