* {
  outline: 1px dotted blueviolet;
  background-color: rgb(85,82,63);
  color: wheat;
}
}

body {
  
  background-color: lightblue;
}

footer {
  width: 80%;
  outline: 5px solid black;
}